# .env.example

# Database connection
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/orders_db
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=password

# Application Port
SERVER_PORT=8080
